In [6]:
import pandas as pd
import numpy as np

#### 生成数据结构

In [7]:
data=np.random.rand(3,2)

In [8]:
title=['a','b']

In [9]:
df=pd.DataFrame(data,columns=title)

In [10]:
index=['aa','bb','cc']

In [11]:
df.index=index

In [12]:
df

           a         b
aa  0.564650  0.616710
bb  0.395871  0.763116
cc  0.331422  0.716712

#### 选取列

In [13]:
df['a']# 返回的是Series结构

aa    0.564650
bb    0.395871
cc    0.331422
Name: a, dtype: float64

In [14]:
df.a

aa    0.564650
bb    0.395871
cc    0.331422
Name: a, dtype: float64

In [15]:
df[['a']]# 返回的是DataFrame结构

           a
aa  0.564650
bb  0.395871
cc  0.331422

#### 选取的是行

In [16]:
df.loc['aa']#loc选择标签索引

a    0.56465
b    0.61671
Name: aa, dtype: float64

In [17]:
df.iloc[1]#iloc选择数值索引

a    0.395871
b    0.763116
Name: bb, dtype: float64

In [21]:
df.ix[1:2,['a','b']]#ix都行N 符合选择行和列

           a         b
bb  0.395871  0.763116

In [22]:
df.ix[:,'b']#ix都行N 符合选择行和列

aa    0.616710
bb    0.763116
cc    0.716712
Name: b, dtype: float64

In [25]:
df[1:2]#直接选取

           a         b
bb  0.395871  0.763116