In [9]:
import pandas as pd
from sklearn.datasets import load_iris

# Pandas鸢尾花分析Demo

In [10]:
# 加载数据
iris=load_iris()

In [11]:
type(iris)

sklearn.datasets.base.Bunch

In [12]:
data=pd.DataFrame(data=iris.data)

In [13]:
type(iris.target_names)

numpy.ndarray

In [14]:
data.columns=iris.feature_names

In [15]:
data['type']=iris.target

In [16]:
# groupby聚合函数
data.groupby('type').agg(['min', 'mean'])

     sepal length (cm)        sepal width (cm)        petal length (cm)  \
                   min   mean              min   mean               min
type
0                  4.3  5.006              2.3  3.418               1.0
1                  4.9  5.936              2.0  2.770               3.0
2                  4.9  6.588              2.2  2.974               4.5

            petal width (cm)
       mean              min   mean
type
0     1.464              0.1  0.244
1     4.260              1.0  1.326
2     5.552              1.4  2.026

In [18]:
data.groupby('type').size()

type
0    50
1    50
2    50
dtype: int64

In [19]:
def range_size(df):
    return df.max()-df.min()

In [26]:
data.groupby('type').agg({'sepal length (cm)':['min'],'petal length (cm)':[range_size]})

     sepal length (cm) petal length (cm)
                   min        range_size
type
0                  4.3               0.9
1                  4.9               2.1
2                  4.9               2.4