In [25]:
import pandas as pd
import numpy as np

#### 生成数据结构

In [26]:
data=np.random.rand(3,2)
title=['a','b']
index=['aa','bb','cc']
df=pd.DataFrame(data,columns=title,index=index)
df.index=list('xyz')

In [27]:
df

          a         b
x  0.275411  0.300311
y  0.985121  0.349326
z  0.013306  0.648813

#### 选取列

In [28]:
df['a']# 返回的是Series结构

x    0.275411
y    0.985121
z    0.013306
Name: a, dtype: float64

In [29]:
df.a

x    0.275411
y    0.985121
z    0.013306
Name: a, dtype: float64

In [30]:
df[['a']]# 返回的是DataFrame结构

          a
x  0.275411
y  0.985121
z  0.013306

#### 选取的是行

In [31]:
df.loc['x']#loc选择标签索引

a    0.275411
b    0.300311
Name: x, dtype: float64

In [32]:
df.iloc[1]#iloc选择数值索引

a    0.985121
b    0.349326
Name: y, dtype: float64

In [33]:
df.ix[1:2,['a','b']]#ix都行N 符合选择行和列

          a         b
y  0.985121  0.349326

In [34]:
df.ix[:,'b']#ix都行N 符合选择行和列

x    0.300311
y    0.349326
z    0.648813
Name: b, dtype: float64

In [35]:
df[1:2]#直接选取

          a         b
y  0.985121  0.349326

### 布尔索引

In [36]:
mask=(df.a>0.5)&(df.b>0.3)

In [40]:
df[mask]

          a         b
y  0.985121  0.349326